{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

<div class="container-fluid bg-white">
  <div class="row justify-content-center pt-5">
    <div class="proposal-layout">
      <div class="breadcrumb mb-3">
        <span class="me-2"><a href="/tidlig-inddragelse">{{ 'Early inclusion'|t }}</a></span>/
        <span class="mx-2">
            <a href="{{ path('entity.node.canonical', {node: dialogoue_helper.getParentNode.id}) }}">{{ dialogoue_helper.getParentNode.label }}</a>
          </span>/
        <span class="mx-2">{{ 'Create dialog proposal'|t }}</span>
      </div>
      <form{{ attributes }}>
        <h1>{{ 'Create dialog proposal'|t }}</h1>
        <p>
          {{ 'Fill out the form and send your proposal so other people can interact with it.'|t }}
        </p>
        <div class="image-drag">
          {{ children }}
        </div>
      </form>
    </div>
  </div>
</div>
