{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

<div class="container-fluid bg-white">
  {% set parentNode = dialogue_helper.getParentNode() %}
  {% if not parentNode %}
    <div>
      {{ include((directory ~ '/templates/misc/status-messages.html.twig'), {message_list: {warning: ['No parent exists for this dialogue proposal! You should add a proposal from the appropriate dialogue page.'|t]}, status_headings: {warning: 'warning'}}) }}
    </div>
  {% endif %}
  <div class="proposal-form-wrapper row justify-content-center">
    <div class="proposal-layout">
      <div class="breadcrumb mb-3">
        {# @fixme Remove this hardcoded path! #}
        <span class="me-2"><a href="/tidlig-inddragelse">{{ 'Early inclusion'|t }}</a></span>
        {% if parentNode %}
          <span>/</span>
          <span class="mx-2">
            <a href="{{ path('entity.node.canonical', {node: parentNode.id}) }}">{{ parentNode.label }}</a>
          </span>
          <span>/</span>
          <span class="mx-2">{{ 'Create dialog proposal'|t }}</span>
        {% endif %}
      </div>
      <form{{ attributes }}>
        {% if dialogue_helper.getParentNode %}
          <h3>{{ dialogue_helper.getParentNode.label }}</h3>
          <p class="mb-3 pb-3 border-bottom">
            {{ dialogue_helper.getParentNode.field_teaser.value ?? '' }}
          </p>
        {% endif %}
        <h1>{{ 'Create dialog proposal'|t }}</h1>
        <p>
          {{ 'Fill out the form and send your proposal so other people can interact with it.'|t }}
        </p>
        <div class="image-drag">
          {{ children }}
        </div>
      </form>
    </div>
  </div>
</div>
