{{ attach_library('hoeringsportal/image-fade') }}
<div class="header-v2 mb-5">
  {% block header_top_image %}
    {% if images %}
      {% if images|length > 1 %}
        <div class="{{ image_half ? 'image-wrapper-half' : 'image-wrapper' }} image-fade position-relative" data-image-duration="15000">
          {% for key, image in images %}
            <img id="img-{{ key }}" class="image-slide" src="{{ image|file_url }}" alt="">
          {% endfor %}
        </div>
      {% else %}
        <div class="{{ image_half ? 'image-wrapper-half' : 'image-wrapper' }}">
          <img src="{{ images[0]|file_url }}" alt="">
        </div>
      {% endif %}
    {% endif %}
  {% endblock %}
  {% block header_text_box %}
    <div class="content-wrapper position-relative {{ images ? 'with-image' : '' }} {{ type ?? 'type-default' }}">
      <div class="container">
        {% if category %}
          <div class="small fw-semibold text-primary">{{ category }}</div>
        {% endif %}
        <h1>{{ title }}</h1>
        {{ description }}
        {% if area %}
          <div class="areas">{{ area }}</div>
        {% endif %}
      </div>
    </div>
  {% endblock %}
</div>

