<div>
  <div class="mb-3">{{ type }}: {{ label }}</div>
  <div>
    <div class="promoted-content p-4">
      <h4 class="px-3">{{ left.leftLabel }}:</h4>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            {% if left.promoted.id %}
              {{ drupal_entity('node', left.promoted.id, left.promoted.display_mode) }}
            {% else %}
              <div class="card">
                <div class="card-body container">
                  <div class="fs-4 text-align-center py-5">
                    {{ 'This dialogue is open for proposals!'|t }}
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
          {% if right %}
            <div class="col-lg-6">
              <div class="p-3">
                {{ include(directory ~ '/templates/components/promoted-content-dialogue-right.html.twig', {}) }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
