<div class="create-activity">
  <a href="{{ path('node.add', {node_type: 'public_meeting'}) }}" class="card">
    <div class="card-inner">
      <div class="card-header"><h5>{{ 'Create event'|t }}</h5></div>
      <div class="card-content">
        <div class="card-image">
          <img src="/{{ module_path }}/assets/images/date.svg">
        </div>
        <div class="card-description">
          <p>{{ 'An event represents a scheduled activity for a specific day and time. It is possible to add signup and ticket system for an event, but it is not required.'|t }}</p>
          <p>{{ 'Examples: Public meeting, Guidet walk, Workshop.'|t }}</p>
        </div>
      </div>
    </div>
  </a>
  <a href="{{ path('node.add', {node_type: 'course'}) }}" class="card">
    <div class="card-inner">
      <div class="card-header"><h5>{{ 'Create course'|t }}</h5></div>
      <div class="card-content">
        <div class="card-image">
          <img src="/{{ module_path }}/assets/images/timeline.svg">
        </div>
        <div class="card-description">
          <p>{{ 'A course represents a period of time where different activities can occur. Courses may stretch over days, weeks or months. Users cannot sign up or buy tickets for courses.'|t }}</p>
          <p>{{ 'Examples: Project period where citizens can participate through different activities.'|t }}</p>
        </div>
      </div>
    </div>
  </a>
</div>
