{#
  /**
  * @file
  * Display Suite 2 column stacked template.
  *
  * Available variables:
  * - outer_wrapper: outer wrapper element
  * - header_wrapper: wrapper element around header region
  * - left_wrapper: wrapper element around left region
  * - right_wrapper: wrapper element around right region
  * - footer_wrapper: wrapper element around footer region
  * - attributes: layout attributes
  * - header_attributes: attributes for header region
  * - left_attributes: attributes for left region
  * - right_attributes: attributes for right region
  * - footer_attributes: attributes for footer region
  * - header: content of header region
  * - left: content of left region
  * - right: content of right region
  * - footer: content of footer region
  */
  #}

{% set hide_hearing_replies = 1 == node.field_hide_hearing_replies.value %}
{% set hide_hearing_replies_msg = hide_hearing_replies ? node.field_hide_hearing_replies_msg.value %}

<{{ outer_wrapper }}{{ attributes.addClass('ds-2col-stacked', 'clearfix') }}>

  {{ title_suffix.contextual_links }}

  <{{ header_wrapper }}{{ header_attributes.addClass('group-header bg-primary text-white') }}>
    {{ include(directory ~ '/templates/components/header.html.twig', {header: header}) }}
  </{{ header_wrapper }}>
  <div class="container content__container">
    {% if hide_hearing_replies %}
      <div class="row">
        <{{ left_wrapper }}{{ left_attributes.addClass('content group-left col-md-8') }}>
        <div class="col-md-12 q">
          <div class="alert alert-warning mb-3" role="alert">
            <div class="mb-0">{{ hide_hearing_replies_msg|raw }}</div>
          </div>
        </div>
        </{{ left_wrapper }}>

        <{{ right_wrapper }}{{ right_attributes.addClass('group-right col-md-4 py-3') }}>
        {{ right|without('dynamic_block_field:node-hearing_ticket_author') }}
        </{{ right_wrapper }}>
      </div>
    {% else %}
      <div class="row">
        <{{ left_wrapper }}{{ left_attributes.addClass('content group-left col-md-8') }}>
        {{ left }}
        </{{ left_wrapper }}>

        <{{ right_wrapper }}{{ right_attributes.addClass('group-right col-md-4 py-3') }}>
        {{ right }}
        </{{ right_wrapper }}>
      </div>
    {% endif %}
  </div>
  <{{ footer_wrapper }}{{ footer_attributes.addClass('group-footer container-flex') }}>
    {{ footer }}
  </{{ footer_wrapper }}>

</{{ outer_wrapper }}>
