{#
/**
 * @file
 * Default theme implementation for comments.
 *
 * Available variables:
 * - author: (optional) Comment author. Can be a link or plain text.
 * - content: The content-related items for the comment display. Use
 *   {{ content }} to print them all, or print a subset such as
 *   {{ content.field_example }}. Use the following code to temporarily suppress
 *   the printing of a given child element:
 *   @code
 *   {{ content|without('field_example') }}
 *   @endcode
 * - created: (optional) Formatted date and time for when the comment was
 *   created. Preprocess functions can reformat it by calling
 *   DateFormatter::format() with the desired parameters on the
 *   'comment.created' variable.
 * - changed: (optional) Formatted date and time for when the comment was last
 *   changed. Preprocess functions can reformat it by calling
 *   DateFormatter::format() with the desired parameters on the
 *   'comment.changed' variable.
 * - permalink: Comment permalink.
 * - submitted: (optional) Submission information created from author and
 *   created during template_preprocess_comment().
 * - user_picture: (optional) The comment author's profile picture.
 * - status: Comment status. Possible values are:
 *   unpublished, published, or preview.
 * - title: (optional) Comment title, linked to the comment.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class may contain one or more of the following classes:
 *   - comment: The current template type; for instance, 'theming hook'.
 *   - by-anonymous: Comment by an unregistered user.
 *   - by-{entity-type}-author: Comment by the author of the parent entity,
 *     eg. by-node-author.
 *   - preview: When previewing a new or edited comment.
 *   The following applies only to viewers who are registered users:
 *   - unpublished: An unpublished comment visible only to administrators.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - content_attributes: List of classes for the styling of the comment content.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - threaded: A flag indicating whether the comments are threaded or not.
 *
 * These variables are provided to give context about the parent comment (if
 * any, optional):
 * - parent_comment: Full parent comment entity (if any).
 * - parent_author: Equivalent to author for the parent comment.
 * - parent_created: Equivalent to created for the parent comment.
 * - parent_changed: Equivalent to changed for the parent comment.
 * - parent_title: Equivalent to title for the parent comment.
 * - parent_permalink: Equivalent to permalink for the parent comment.
 * - parent: A text string of parent comment submission information created from
 *   'parent_author' and 'parent_created' during template_preprocess_comment().
 *   This information is presented to help screen readers follow lengthy
 *   discussion threads. You can hide this from sighted users using the class
 *   visually-hidden.
 *
 * These two variables are provided for context:
 * - comment: Full comment object.
 * - commented_entity: Entity the comments are attached to.
 *
 * @see template_preprocess_comment()
 *
 * @ingroup themeable
 */
#}

{% set dialog_options = {
  width: 400,
  classes: {
    'ui-dialog': 'create-comment-form',
  }
} %}

<article{{ attributes.addClass('js-comment mb-3') }}>
  <mark class="hidden" data-comment-timestamp="{{ new_indicator_timestamp }}"></mark>
  <div{{ content_attributes }}>
    {% if submitted and status is same as('published') %}
      <div class="mb-1">
        <div class="comment-header small">
          {% set owner = anonymous_edit_helper.getContentOwner(comment) %}
          {% if owner and owner.name|default(false) %}
            <div class="comment-name">{{ owner.isCurrent ? 'You'|t : owner.name }}</div>
          {% endif %}
          <div class="comment-time">{{ comment.created.value|time_diff }}</div>
          {% if comment.access('update') %}
            <div class="comment-edit">
              <a class="use-ajax text-primary"
                data-dialog-options="{{ dialog_options|json_encode }}" data-dialog-type="modal"
                href="{{ path('entity.comment.edit_form', {comment: comment.id}) }}">
                {{ 'Edit'|t({}, {context: 'comment'}) }}
            </a>
          </div>
          {% endif %}
          {% if comment.access('delete') %}
            <div class="comment-delete">
              <a class="use-ajax text-danger"
                data-dialog-options="{{ dialog_options|json_encode }}" data-dialog-type="modal"
                href="{{ path('entity.comment.delete_form', {comment: comment.id}) }}">
                {{ 'Delete'|t({}, {context: 'comment'}) }}
              </a>
            </div>
          {% endif %}
        </div>
        <div>{{ content|without('flag_support_comment') }}</div>
      </div>
      <div class="d-flex mb-2">
        <div class="flag-wrapper me-3">{{ content.flag_support_comment }}</div>
        <div class="comment-reply">
          <a class="use-ajax text-secondary"
            data-dialog-options="{{ dialog_options|json_encode }}" data-dialog-type="modal"
            href="{{ path('comment.reply', {entity_type: 'node', entity: comment.entity_id.value[0].target_id, field_name: 'field_comments', pid: comment.cid.value}) }}">
            {{ include('themes/custom/hoeringsportal/templates/animated-svg/icon-deltag-reply.svg.html.twig') }}
            {{ 'Reply'|t({}, {context: 'Comment reply  '}) }}
          </a>
        </div>
      </div>
    {% endif %}
  </div>
</article>
