{% extends '@hoeringsportal/node/_node--1-col-large-image-top.html.twig' %}

{% block content_top %}
  {# Header #}
  {{ include(directory ~ '/templates/components/header-default.html.twig', {
    images: node.field_top_images,
    type: node.bundle,
    title: node.label,
    description: content.field_teaser,
    tags_fields: {0: content.field_area, 1: content.field_type},
    shortcuts: {},
    background_class: 'bg-white',
    right_content: {
      0: {
        type: 'text',
        label: 'Decision'|t,
        value: content.field_decision,
      },
      1: {
        type: 'text',
        label: 'Decision date'|t,
        value: content.field_decision_date,
      },
    },
    category: 'Decision'|t,
  }) }}
{% endblock %}

{% block content_main %}
  {# Main container #}
  <div class="bg-white pb-5 mb-5">
    <div class="container content__container" id="content">
      <div class="sections d-flex flex-column">
        {{ content.field_content_sections }}
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            {{ content.field_media_document }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="px-3">{{ 'This decision relates to these activities'|t }}</h3>
      </div>
      {{ content.field_related_content }}
    </div>
  </div>
{% endblock %}
